{# HTML5 declaration #}
{% load static %}
<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}Home {% endblock title %}</title>
        {% block head_favicon %}
            <link rel="icon" type="image/png"
                  href="{% static "home/images/favicon.jpg" %}">
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}

        {# CSS files#}
        {% block head_css %}
            {% block head_css_site %}
                <link href="{% static "home/css/bootstrap.min.css" %}"
                      rel="stylesheet" media="screen">
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}

        <style>
          .footer {
              position: fixed;
              bottom: 0;
              width: 100%;
              /* Set the fixed height of the footer here */
              height: 80px;
              line-height: 80px; /* Vertically center the text there */
              background-color: #111;
              }
        </style>
    </head>


    {# Navigation Menu #}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <img src="{% static "home/images/favicon.jpg" %}" width="30" height="30" class="d-inline-block align-top" alt="">
          Toran Sahu
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://toransahu.github.io">About </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Logs</a>
            <div class="dropdown-menu">

              <a class="dropdown-item" href="#">Blogs</a>
              <a class="dropdown-item" href="#">Vlogs</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/blog-api/blog">Tech</a>
            </div>
          </li>
          <li class="nav-item dropdown bg-dark">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Apps</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/polls">Polls</a>
              <a class="dropdown-item" href="/blog-api">REST API Demo</a>
              <a class="dropdown-item" href="#">App3</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/admin">Admin</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
          <!--
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
      </div>
    </nav>

    {# The Document Body #}
    <body>
        <div id="site-wrapper">
          {# content will be replaced by child pages #}
            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}
        </div>
    </body>

    {# The Footer #}
    <footer class="footer">
      <div class="container" align="center">
        <span class="text-muted">
          Copyright &copy; 2017. All rights reserved.
        </span>
      </div>
    </footer>

{# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="{% static "home/js/jquery-3.2.1.min.js" %}"></script>
            <script src="{% static "home/js/bootstrap.min.js" %}"></script>
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>
