[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.0.2"
djangorestframework = "==3.7.7"
gunicorn = "==19.7.1"
pygments = "==2.2.0"
pytz = "==2018.3"
whitenoise = "*"


[dev-packages]

